:root{
	--mainColor:#0B0C10;
	--secondaryColor:#111319;

	--borderColor:#5adad2;

	--mainText:#5adad2;
	--secondaryText:#bababa;

	--themeDotBorder:#FFF;

	--previewBg:#171922;
	--previewShadow:#383d4c;


	--buttonColor:#669966;


}
